apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "resource.default.name" . }}
  namespace: {{ include "resource.default.namespace" . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
data:
  config.yml: |
    server:
      enable:
        debug:
          server: true
      listen:
        address: "http://0.0.0.0:{{ .Values.service.port }}"
    service:
      backupDestination: "{{ .Values.backupDestination }}"
      kubernetes:
        address: ''
        inCluster: true
        tls:
          caFile: ''
          crtFile: ''
          keyFile: ''
      s3:
        bucket: "{{ .Values.aws.s3bucket }}"
        region: "{{ .Values.aws.s3region }}"
      skipmanagementclusterbackup: {{.Values.skipManagementClusterBackup}}
      etcdv2:
        datadir: "{{ if eq .Values.provider.kind "kvm" }}/var/lib/etcd{{ end }}"
      etcdv3:
        cacert: "/certs/{{ .Values.clientCaCertFileName }}"
        cert: "/certs/{{ .Values.clientCertFileName }}"
        key: "/certs/{{ .Values.clientKeyFileName }}"
        endpoints: "{{ .Values.etcdEndpoints }}"
      installation: "{{ .Values.installation }}"
